@model Fitness.Model.Models.Alimento

<div>
    <a class="regresar" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
    <h4 class="d-inline-block">Alimento</h4>
    <hr />
    <dl class="row">
      <dt class = "col-sm-2">
                Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
                Calorías
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calorias)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
</div>
