@model Fitness.Model.Models.TipoComida



<h4>Agregar Tipo de comida</h4>
<hr />

<div class="mt-3">
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
