@model Fitness.Model.Models.TipoComida


<h3>Usted esta seguro de eliminar esto?</h3>
<div class="mt-2">
    <h4>TipoComida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descripción
        </dt>
    
        <dt class = "col-sm-2">
            Calorías
        </dt>
        
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>