@model Fitness.Model.Models.TipoComida

@{
    ViewData["Title"] = "Editar Tipo de comida";
}
<h4>Editar Tipo de Comida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       
    </div>
</div>

<div class=" mt-3">
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

