@model Fitness.Model.Models.ActividadFisica

@{
    ViewData["Title"] = "Agregar Actividad Fisica";
}

<h4>Agregar Actividad Fisica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group pt-3">
                <label asp-for="TipoActividadFisica" class="control-label">Actividad Fisica</label>
                <select asp-for="TipoActividadFisica" class ="form-control" asp-items="ViewBag.TipoActividadFisica"></select>
            </div>
            <div class="form-group pt-2">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">

                <label asp-for="Duracion" class="control-label">Duración</label>
                <div class="content_Peso">
                    <input asp-for="Duracion" class="form-control" />
                    <span asp-validation-for="Duracion" class="text-danger"></span>
                    <span class="minutos" >Minutos</span>
                </div>
            </div>
            <div class="form-group pt-3">
                
                <label asp-for="Distancia" class="control-label"></label>
                <div class="content_Peso">
                    <input asp-for="Distancia" class="form-control" />
                    <span asp-validation-for="Distancia" class="text-danger"></span>
                    <select asp-for="TipoDistancia" class="form-control" asp-items="ViewBag.TipoDistancia"></select>
                </div>
        
            </div>
            <div class="form-group pt-3">
                <label asp-for="Calorias" class="control-label">Calorí2as</label>
                <input asp-for="Calorias" class="form-control" />
                <span asp-validation-for="Calorias" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <label asp-for="Comentarios" class="control-label"></label>
                <textarea asp-for="Comentarios" class="form-control"></textarea>
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>

            <div class="form-group pt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="pt-4">
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
