@model Fitness.Model.Models.AlimentoConsumido


<a class="regresar" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
<h4 class="d-inline-block">Agregar alimentos a la dieta</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group pt-3">
                <label asp-for="Alimento" class="control-label"></label>
                @Html.DropDownListFor(model => model.Alimento, ViewBag.Alimento as SelectList, new { @class = "form-control" })
            </div>

            <div class="form-group pt-3">
                <label asp-for="Opcion" class="control-label">Plato</label>
                <select asp-for="Opcion" class="form-control" asp-items="ViewBag.Opcion"></select>
            </div>

            <div class="form-group pt-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

