@model Fitness.Model.Models.AlimentoConsumido


<h3>¿Usted está seguro de eliminar esto?</h3>
<div>
    <a class="regresar" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
    <h4 class="d-inline-block">Alimento de la dieta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Alimento
        </dt>
        <dd class="col-sm-10">
            @(Model.AlimentoNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Plato
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opcion)
        </dd>

    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
    </form>
</div>

