@model Fitness.Model.Models.AlimentoConsumido



<div>
    <a class="regresar" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
    <h4 class="d-inline-block">Alimento de la dieta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Alimento
        </dt>
        <dd class="col-sm-10">
            @(Model.AlimentoNavigation.Descripcion)
        </dd>
        <dt class="col-sm-2">
            Opción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opcion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
</div>

